div {
  box-sizing: border-box;
}

.list {
  padding-bottom: 20px;
  text-align: left;
  border-bottom: 1px solid grey;
}

.modal {
  margin-top: 20px;
  padding: 20px;
  background-color: #eee;
  text-align: left;
}